.container {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background: #0E0A14;
  opacity: 0.95;
  height: 100vh;
  width: 98.7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  /* Background */
  color: #F0F0F5;
}
